.container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  background: white;
  padding-top: 120px;
  display: flex;
}

.side {
  flex: 1;
}

.cancel-button {
  color: black;
  font-size: 30px;
}

.cancel-button:hover {
  color: var(--peach);
}

.carousel-container {
  width: 100%;
}

.carousel {
  margin: 0 auto;
  max-width: 830px;
}

.carousel-item {
  width: calc(100% - 40px);
  height: 400px;
  overflow: hidden;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-flow: column;
}

.carousel-item-image {
  display: flex;
  flex: 1;
  align-items:center;
  justify-content:center;
  width: 100%;
  height: 100%;
}
.carousel-item-image img {
  max-width: 100%;
  max-height: 100%;
}

.carousel-item-primary {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.carousel-item-secondary {
  font-size: 12px;
  margin-bottom: 10px;
}

.arrow {
  padding: 40px;
  font-size: 40px;
  width: 15px;
}

.thumbnails {
  margin: 20px auto 0 auto;
  max-width: 750px;
}