.container {
  width: 100%;
  flex: 1;
  background: white;
  display: flex;
  flex-direction: column;
}

.carousel {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.cancelContainer {
  text-align: right;
  color: black;
  font-size: 20px;
  margin-right: 10px;
}

.cancelButton:hover {
  color: var(--peach);
}

.carouselContainer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.carouselItem {
  display: flex !important;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.carouselHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.carouselDescription {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carouselItemImage {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 0;
}

.carouselItemImage img {
  flex: 1;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  /*width: 100%;*/
}

.carouselItemPrimary {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.carouselItemSecondary {
  font-size: 12px;
  margin-bottom: 10px;
}

.arrow {
  padding: 40px;
  font-size: 40px;
  width: 15px;
}

.thumbnails {
  margin-top: 20px;
  width: 100%;
}

.thumbnailsContainer {
  width: 100%;
}

.arrowsContainer {
  display: flex;
  justify-content: center;
}

.arrowsContainer > .arrow {
  padding: 0 40px;
}
